<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-10">
        <!-- <h2>{{formControls.Name}}</h2> -->
        <h2>Organizations</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a>Organizations</a>
            </li>
            <li class="active">
                <strong>Companies</strong>
            </li>
        </ol>
    </div>
    <div class="col-sm-2">
        <div class="title-action">
            <!-- <a ui-sref="pages.edit-form({id:formControls.id})" class="btn btn-primary">Edit This form</a> -->
        </div>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-md-12">

            <div class="tabs-container">
                <div class="panel-body">

                    <fieldset>
                        <legend>
                            Companies
                        </legend>
                        <form #form="ngForm" (ngSubmit)="saveCompany(form)" class="{{submit?'submited':''}}">
                            <div class="row">
                                <div class="form-group col-md-3">
                                    <label for="NAME">Name <span class="help-block">*</span></label>
                                    <input name="NAME" placeholder="Name" type="text" class="form-control" [(ngModel)]="companyForm.NAME"
                                        required>
                                    <!-- <span class="help-block" *ngIf="form.controls.Name&&form.controls.Name.invalid &&( form.controls.Name.touched|| form.controls.Name.dirty||form.submitted)">required</span> -->
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="NAME2">Name 2</label>
                                    <input name="NAME2" placeholder="Name 2" type="text" class="form-control"
                                        [(ngModel)]="companyForm.NAME2">
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="PHONE">Phone <span class="help-block">*</span></label>
                                    <input name="PHONE" placeholder="Phone" type="text" class="form-control"
                                        [(ngModel)]="companyForm.PHONE" required>
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="COUNTRY_CODE">Phone Code<span class="help-block">*</span></label>
                                    <input name="COUNTRY_CODE" placeholder="Phone Code" type="text" class="form-control"
                                        [(ngModel)]="companyForm.COUNTRY_CODE" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-3">
                                    <label for="MOBILE">Mobile<span class="help-block">*</span></label>
                                    <input name="MOBILE" placeholder="Mobile" type="text" class="form-control"
                                        [(ngModel)]="companyForm.MOBILE" required>
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="FAX">Fax<span class="help-block">*</span></label>
                                    <input name="FAX" placeholder="Fax" type="text" class="form-control" [(ngModel)]="companyForm.FAX"
                                        required>
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="EMAIL">Email<span class="help-block">*</span></label>
                                    <input name="EMAIL" placeholder="Email" type="email" class="form-control"
                                        [(ngModel)]="companyForm.EMAIL" required>
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="WEBSITE">Website </label>
                                    <input name="WEBSITE" placeholder="Website" type="text" class="form-control"
                                        [(ngModel)]="companyForm.WEBSITE">
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-3">
                                    <label for="ADDRESS">Address</label>
                                    <input name="ADDRESS" placeholder="Address" type="text" class="form-control"
                                        [(ngModel)]="companyForm.ADDRESS">
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="ADDRESS2">Address2</label>
                                    <input name="ADDRESS2" placeholder="Address2" type="text" class="form-control"
                                        [(ngModel)]="companyForm.ADDRESS2">
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="CODE">Code</label>
                                    <input name="CODE" placeholder="Code" type="text" class="form-control" [(ngModel)]="companyForm.CODE">
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="ST_CUR_CODE">Currency Code </label>

                                    <select name="ST_CUR_CODE" placeholder="Currency Code" class="form-control"
                                        [(ngModel)]="companyForm.ST_CUR_CODE">
                                        <option [ngValue]="">Select</option>
                                        <option *ngFor="let currency of currencies" [ngValue]="currency.CODE">{{currency.NAME}}</option>
                                    </select>

                                </div>

                            </div>
                            <div class="row">
                                <div class="form-group col-md-3">
                                    <label for="ST_CNT_ID">Country</label>
                                    <select name="ST_CNT_ID" class="form-control" [(ngModel)]="companyForm.ST_CNT_ID">
                                        <option [ngValue]="">Select</option>

                                        <option *ngFor="let country of countries" [ngValue]="country.ID">{{country.NAME}}</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-9">
                                    <label for="LOGO">Logo</label>

                                    <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                                        <div class="form-control" data-trigger="fileinput">

                                            <span class="fileinput-filename">
                                                <i class="glyphicon glyphicon-file fileinput-exists"></i>
                                                {{replaceFileName(companyForm.LOGO)}}
                                            </span>
                                        </div>

                                        <span class="input-group-addon btn btn-default btn-file" *ngIf="!companyForm.LOGO">
                                            <label for="LOGO" class="custom-file-upload">
                                                <i class="fa fa-cloud-upload"></i> Upload
                                            </label>

                                        </span>
                                        <input id="LOGO" name="LOGO" type="file" [(ngModel)]="companyForm.LOGO"
                                            ng2FileSelect [uploader]="uploader">
                                        <a *ngIf="companyForm.LOGO" (click)="companyForm.LOGO=null" class="input-group-addon btn btn-default fileinput-exists"
                                            data-dismiss="fileinput">Remove</a>
                                    </div>

                                </div>
                                


                            </div>
                            <div class="row">

                                    <div class="form-group col-md-3">
                                            <label for="PASS_MLENGH">Password Min length</label>
                                            <input name="PASS_MLENGH" placeholder="Password Min length" type="number" class="form-control"
                                                [(ngModel)]="companyForm.PASS_MLENGH">
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="PASS_MUPPER">Password Min Upper case</label>
                                            <input name="PASS_MUPPER" placeholder="Password Min Upper case" type="number" class="form-control"
                                                [(ngModel)]="companyForm.PASS_MUPPER">
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="PASS_MLOWER">Password Min Lower case</label>
                                            <input name="PASS_MLOWER" placeholder="Password Min Lower case" type="number" class="form-control"
                                                [(ngModel)]="companyForm.PASS_MLOWER">
                                        </div>
                                <div class="form-group col-md-3">
                                    <label for="PASS_MDIGITS">Password Min Numbers</label>
                                    <input name="PASS_MDIGITS" placeholder="Password Min Numbers" type="number" class="form-control"
                                        [(ngModel)]="companyForm.PASS_MDIGITS">
                                </div>
                               


                            </div>
                            <div class="row">
                                    <div class="form-group col-md-3">
                                            <label for="PASS_MSPECIAL">Password Min Special Characters</label>
                                            <input name="PASS_MSPECIAL" placeholder="Password Min Special Characters" type="number"
                                                class="form-control" [(ngModel)]="companyForm.PASS_MSPECIAL">
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="PASS_EXPIRY_PERIOD">Password Expiry Days</label>
                                            <input name="PASS_EXPIRY_PERIOD" placeholder="Password Expiry Days" type="number"
                                                class="form-control" [(ngModel)]="companyForm.PASS_EXPIRY_PERIOD">
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="PASS_LOGATTEMPTS">Password Failed login attempts</label>
                                            <input name="PASS_LOGATTEMPTS" placeholder="Password Failed login attempts" type="number"
                                                class="form-control" [(ngModel)]="companyForm.PASS_LOGATTEMPTS">
                                        </div>
                                <div class="form-group col-md-3">
                                    <label for="PASS_REPEAT">Password Repeats</label>
                                    <input name="PASS_REPEAT" placeholder="Password Repeats" type="number" class="form-control"
                                        [(ngModel)]="companyForm.PASS_REPEAT">
                                </div>

                                
                            </div>
                            <div class="row">
                                
                                <div class="col-md-11 text-right">
                                    <br>
                                    <br>
                                    <div class="btn-group">
                                        <input class="btn btn-default" type="reset" (click)="companyForm={};submit=false;resetForm(form)"
                                            value="Reset" />
                                        <input class="btn btn-primary" type="submit" value="Save" (click)="submit=true" />
                                    </div>
                                </div>
                            </div>
                        </form>
                    </fieldset>

                    <br>

                    <mat-tab-group (selectedTabChange)="showBranchAndDepartmentForm($event)">
                        <mat-tab label="Companies">

                            <div class="col-md-12">
                                <div class="html5buttons">
                                    <br>
                                    <div class="dt-buttons btn-group">
                                        <button class="btn btn-default" [disabled]="!selection.hasValue()"
                                            mwlConfirmationPopover [popoverTitle]="'Confirm'" [popoverMessage]="'are you sure to delete?'"
                                            placement="bottom" (confirm)="deleteSelectedData()" ngbTooltip="Delete">
                                            <img src="assets/images/Trash-can.png"></button>
                                        <a class="btn btn-default buttons-csv buttons-html5" (click)="export('csv','company')"
                                            placement="bottom" ngbTooltip="Export to CSV"><span>
                                                <img src="assets/images/csv.jpg"></span></a>
                                        <a class="btn btn-default buttons-excel buttons-html5" (click)="export('excel','company')"
                                            placement="bottom" ngbTooltip="Export to Excel"><span><img src="assets/images/ExcelLogoSmall.scale-80.png"></span></a>
                                        <a class="btn btn-default buttons-pdf buttons-html5" (click)="export('pdf','company')"
                                            placement="bottom" ngbTooltip="Export to PDF"><span><img src="assets/images/pdf.jpg"></span></a>
                                        <a class="btn btn-default buttons-print" placement="bottom" ngbTooltip="Print Data"><span><img
                                                    src="assets/images/print.jpg"></span></a>
                                    </div>
                                </div>
                                <br>
                                <mat-form-field>
                                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
                                </mat-form-field>
                                <div class="x">
                                    <div class="table-container">
                                        <table mat-table #table [dataSource]="companiesDataSource" matSort>

                                            <ng-container matColumnDef="select">
                                                <th mat-header-cell *matHeaderCellDef>
                                                    <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
                                                        [indeterminate]="selection.hasValue() && !isAllSelected()">
                                                    </mat-checkbox>
                                                </th>
                                                <td style="width: 5%" mat-cell *matCellDef="let row">
                                                    <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                                                        [checked]="selection.isSelected(row)">
                                                    </mat-checkbox>
                                                </td>
                                            </ng-container>

                                            <ng-container matColumnDef="ID">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                                                <td style="width: 5%" mat-cell *matCellDef="let element">
                                                    {{element.ID}}
                                                </td>
                                            </ng-container>

                                            <ng-container matColumnDef="NAME">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                                                <td style="width: 15%" mat-cell *matCellDef="let element">
                                                    {{element.NAME}}
                                                </td>
                                            </ng-container>

                                            <ng-container matColumnDef="NAME2">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Name2</th>
                                                <td style="width: 15%" mat-cell *matCellDef="let element">
                                                    {{element.NAME2}} </td>
                                            </ng-container>

                                            <ng-container matColumnDef="ST_CNT_ID">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Country </th>
                                                <td mat-cell *matCellDef="let element">
                                                    {{getCountryName(element.ST_CNT_ID)}}
                                                </td>
                                            </ng-container>

                                            <ng-container matColumnDef="ST_CUR_CODE">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Currency code
                                                </th>
                                                <td style="width: 10%" mat-cell *matCellDef="let element">
                                                    {{element.ST_CUR_CODE}} </td>
                                            </ng-container>

                                            <ng-container matColumnDef="PHONE_CODE">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone code </th>
                                                <td style="width: 5%" mat-cell *matCellDef="let element">
                                                    {{element.COUNTRY_CODE}} </td>
                                            </ng-container>

                                            <ng-container matColumnDef="PHONE">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone</th>
                                                <td style="width: 10%" mat-cell *matCellDef="let element">
                                                    {{element.PHONE}} </td>
                                            </ng-container>

                                            <ng-container matColumnDef="MOBILE">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Mobile</th>
                                                <td style="width: 10%" mat-cell *matCellDef="let element">
                                                    {{element.MOBILE}} </td>
                                            </ng-container>
                                            <ng-container matColumnDef="EMAIL">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
                                                <td style="width: 10%" mat-cell *matCellDef="let element">
                                                    {{element.EMAIL}} </td>
                                            </ng-container>
                                            <ng-container matColumnDef="actions">
                                                <th mat-header-cell *matHeaderCellDef>Actions</th>
                                                <td style="width: 20%" mat-cell *matCellDef="let element">
                                                    <i (click)="updateCompany(element)" class="fa fa-edit" placement="left"
                                                        ngbTooltip="Edit"></i>
                                                    <i (click)="$event.stopPropagation()" class="fa fa-remove"
                                                        mwlConfirmationPopover [popoverTitle]="'Confirm'"
                                                        [popoverMessage]="'are you sure to delete?'" placement="left"
                                                        (confirm)="deleteCompany(element.ID)" ngbTooltip="Delete"></i>
                                                </td>
                                            </ng-container>

                                            <tr mat-header-row *matHeaderRowDef="companyTableColumns"></tr>
                                            <tr mat-row *matRowDef="let row; columns: companyTableColumns;" (click)="updateCompany(row)"
                                                class=" mat-row {{companyForm.ID===row.ID?'active':'not-active'}}"></tr>

                                        </table>
                                    </div>
                                    <mat-paginator #paginator [pageSizeOptions]="[10, 20, 30 ,40,50]"
                                        [showFirstLastButtons]="true"></mat-paginator>

                                </div>
                            </div>

                        </mat-tab>
                        <mat-tab label="Company Branches">
                            <div class="col-md-12">
                                <div class="html5buttons">
                                    <br>
                                    <div class="dt-buttons btn-group">
                                        <button class="btn btn-default" [disabled]="!selection2.hasValue()"
                                            mwlConfirmationPopover [popoverTitle]="'Confirm'" [popoverMessage]="'are you sure to delete?'"
                                            placement="bottom" (confirm)="deleteSelectedData()" ngbTooltip="Delete">
                                            <img src="assets/images/Trash-can.png"></button>
                                        <a class="btn btn-default buttons-csv buttons-html5" (click)="export('csv','companybranch')"
                                            placement="bottom" ngbTooltip="Export to CSV"><span>
                                                <img src="assets/images/csv.jpg"></span></a>
                                        <a class="btn btn-default buttons-excel buttons-html5" (click)="export('excel','companybranch')"
                                            placement="bottom" ngbTooltip="Export to Excel"><span><img src="
                                          assets/images/ExcelLogoSmall.scale-80.png">
                                            </span> </a>
                                        <a class="btn btn-default buttons-pdf buttons-html5" (click)="export('pdf','companybranch')"
                                            placement="bottom" ngbTooltip="Export to PDF"><span><img src="assets/images/pdf.jpg"></span></a>
                                        <a class="btn btn-default buttons-print" placement="bottom" ngbTooltip="Print Data"><span><img
                                                    src="assets/images/print.jpg"></span></a>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field>
                                        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field>
                                        <mat-select placeholder="Companies" (selectionChange)="reloadCompanyBranchTable(companyBranchForm.ST_COM_ID)"
                                            [(ngModel)]="companyBranchForm.ST_COM_ID">
                                            <mat-option [value]=""> All </mat-option>
                                            <mat-option *ngFor="let company of companies" [value]="company.ID">
                                                {{company.NAME}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="x">
                                    <div class="table-container">
                                        <table mat-table #table2 [dataSource]="companyBranchesDataSource" matSort>

                                            <ng-container matColumnDef="select">
                                                <th mat-header-cell *matHeaderCellDef>
                                                    <mat-checkbox (change)="$event ? masterToggle2() : null" [checked]="selection2.hasValue() && isAllSelected2()"
                                                        [indeterminate]="selection2.hasValue() && !isAllSelected2()">
                                                    </mat-checkbox>
                                                </th>
                                                <td mat-cell *matCellDef="let row">
                                                    <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection2.toggle(row) : null"
                                                        [checked]="selection2.isSelected(row)">
                                                    </mat-checkbox>
                                                </td>
                                            </ng-container>

                                            <ng-container matColumnDef="ID">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                                                <td mat-cell *matCellDef="let element"> {{element.ID}} </td>
                                            </ng-container>

                                            <ng-container matColumnDef="NAME">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                                                <td mat-cell *matCellDef="let element"> {{element.NAME}} </td>
                                            </ng-container>

                                            <ng-container matColumnDef="NAME2">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Name2</th>
                                                <td mat-cell *matCellDef="let element"> {{element.NAME2}} </td>
                                            </ng-container>
                                            <ng-container matColumnDef="ST_COM_ID">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Company</th>
                                                <td mat-cell *matCellDef="let element">{{getCompanyName(element.ST_COM_ID)}}
                                                </td>
                                            </ng-container>

                                            <ng-container matColumnDef="ST_CNT_ID">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Country</th>
                                                <td mat-cell *matCellDef="let element">{{getCountryName(element.ST_CNT_ID)}}
                                                </td>
                                            </ng-container>
                                            <ng-container matColumnDef="ST_CTY_ID">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> City </th>
                                                <td mat-cell *matCellDef="let element">
                                                    {{getCityName(element.ST_CTY_ID)}}
                                                </td>
                                            </ng-container>
                                            <ng-container matColumnDef="CODE">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Code</th>
                                                <td style="width: 10%" mat-cell *matCellDef="let element">
                                                    {{element.CODE}} </td>
                                            </ng-container>
                                            <ng-container matColumnDef="PHONE">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone</th>
                                                <td style="width: 10%" mat-cell *matCellDef="let element">
                                                    {{element.PHONE}} </td>
                                            </ng-container>

                                            <ng-container matColumnDef="actions">
                                                <th mat-header-cell *matHeaderCellDef>Actions</th>
                                                <td mat-cell *matCellDef="let element">
                                                    <i (click)="updateCompanyBranch(element)" class="fa fa-edit"
                                                        placement="left" ngbTooltip="Edit"></i>
                                                    <i (click)="$event.stopPropagation()" class="fa fa-remove"
                                                        mwlConfirmationPopover [popoverTitle]="'Confirm'"
                                                        [popoverMessage]="'are you sure to delete?'" placement="left"
                                                        (confirm)="deleteCompanyBranch(element.ID)" ngbTooltip="Delete"></i>
                                                </td>
                                            </ng-container>

                                            <tr mat-header-row *matHeaderRowDef="companyBranchTableColumns"></tr>
                                            <tr mat-row *matRowDef="let row; columns: companyBranchTableColumns;"
                                                (click)="updateCompanyBranch(row)" class=" mat-row {{companyBranchForm.ID===row.ID?'active':'not-active'}}"></tr>

                                        </table>
                                    </div>
                                    <mat-paginator #paginator2 [pageSizeOptions]="[10, 20, 30 ,40,50]"
                                        [showFirstLastButtons]="true"></mat-paginator>
                                </div>

                                <div class="hr-line-dashed"></div>


                                <div class="col-md-12 extra-form" *ngIf="extraForm==='CompanyBranch'">

                                    <fieldset class="animated fadeInDown">
                                        <legend>
                                            Company Branches
                                        </legend>
                                        <form #form="ngForm" (ngSubmit)="saveCompanyBranch(form)" class="{{submit2?'submited':''}}">
                                            <div class="row">
                                                <div class="form-group col-md-3">
                                                    <label for="NAME">Name <span class="help-block">*</span></label>
                                                    <input name="NAME" placeholder="Name" type="text" class="form-control"
                                                        [(ngModel)]="companyBranchForm.NAME" required>
                                                    <!-- <span class="help-block" *ngIf="form.controls.Name&&form.controls.Name.invalid &&( form.controls.Name.touched|| form.controls.Name.dirty||form.submitted)">required</span> -->
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label for="NAME2">Name 2</label>
                                                    <input name="NAME2" placeholder="Name 2" type="text" class="form-control"
                                                        [(ngModel)]="companyBranchForm.NAME2">
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label for="ST_CNT_ID">Company <span class="help-block">*</span></label>
                                                    <select name="ST_COM_ID" class="form-control" [(ngModel)]="companyBranchForm.ST_COM_ID"
                                                        required>
                                                        <option [ngValue]="">Select</option>

                                                        <option *ngFor="let company of companies" [ngValue]="company.ID">{{company.NAME}}</option>
                                                    </select>
                                                    <!-- <span class="help-block" *ngIf="form.controls.ST_CNT_ID&&form.controls.ST_CNT_ID.invalid &&( form.controls.ST_CNT_ID.touched|| form.controls.ST_CNT_ID.dirty||form.submitted)">required</span> -->
                                                </div>


                                                <div class="form-group col-md-3">
                                                    <label for="ST_CNT_ID">Country </label>
                                                    <select name="ST_CNT_ID" class="form-control" [(ngModel)]="companyBranchForm.ST_CNT_ID"
                                                        (ngModelChange)="loadCities($event)">
                                                        <option [ngValue]="">Select</option>

                                                        <option *ngFor="let country of countries" [ngValue]="country.ID">{{country.NAME}}</option>
                                                    </select>
                                                </div>
                                            </div>


                                            <div class="row">
                                                <div class="form-group col-md-3">
                                                    <label for="ST_CTY_ID">City </label>
                                                    <select name="ST_CTY_ID" class="form-control" [(ngModel)]="companyBranchForm.ST_CTY_ID">
                                                        <option [ngValue]="">Select</option>

                                                        <option *ngFor="let city of cities" [ngValue]="city.ID">{{city.NAME}}</option>
                                                    </select>
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label for="ST_CUR_CODE">Currency Code </label>

                                                    <select name="ST_CUR_CODE" placeholder="Currency Code" class="form-control"
                                                        [(ngModel)]="companyBranchForm.ST_CUR_CODE">
                                                        <option [ngValue]="">Select</option>
                                                        <option *ngFor="let currency of currencies" [ngValue]="currency.CODE">{{currency.NAME}}</option>
                                                    </select>

                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label for="CODE">Code</label>
                                                    <input name="CODE" placeholder="Code" type="text" class="form-control"
                                                        [(ngModel)]="companyBranchForm.CODE">
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label for="PHONE">Phone <span class="help-block">*</span></label>
                                                    <input name="PHONE" placeholder="Phone" type="text" class="form-control"
                                                        [(ngModel)]="companyBranchForm.PHONE" required>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-md-3">
                                                    <label for="FAX">Fax <span class="help-block">*</span></label>
                                                    <input name="FAX" placeholder="Fax" type="text" class="form-control"
                                                        [(ngModel)]="companyBranchForm.FAX" required>
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label for="EMAIL">Email <span class="help-block">*</span></label>
                                                    <input name="EMAIL" placeholder="Email" type="email" class="form-control"
                                                        [(ngModel)]="companyBranchForm.EMAIL" required>
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label for="ADDRESS">Address</label>
                                                    <input name="ADDRESS" placeholder="Address" type="text" class="form-control"
                                                        [(ngModel)]="companyBranchForm.ADDRESS">
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label for="ADDRESS2">Address2</label>
                                                    <input name="ADDRESS2" placeholder="Address2" type="text" class="form-control"
                                                        [(ngModel)]="companyBranchForm.ADDRESS2">
                                                </div>


                                                <div class="row">


                                                <div class="col-md-11 text-right">
                                                    <br>
                                                    <br>
                                                    <input class="btn btn-default" type="reset" (click)="companyBranchForm={};submit2=false;resetForm(form)"
                                                        value="Reset" />

                                                    <input class="btn btn-primary" type="submit" value="Save" (click)="submit2=true" />
                                                </div>  </div>
                                            </div>
                                        </form>
                                    </fieldset>
                                </div>

                            </div>
                        </mat-tab>
                        <mat-tab label="Depratment">
                            <div class="col-md-12">
                                <div class="html5buttons">
                                    <div class="dt-buttons btn-group">
                                        <button class="btn btn-default" [disabled]="!selection3.hasValue()"
                                            mwlConfirmationPopover [popoverTitle]="'Confirm'" [popoverMessage]="'are you sure to delete?'"
                                            placement="bottom" (confirm)="deleteSelectedData()" ngbTooltip="Delete">
                                            <img src="assets/images/Trash-can.png"></button>
                                        <a class="btn btn-default buttons-csv buttons-html5" (click)="export('csv','department')"
                                            placement="bottom" ngbTooltip="Export to CSV"><span>
                                                <img src="assets/images/csv.jpg"></span></a>
                                        <a class="btn btn-default buttons-excel buttons-html5" (click)="export('excel','department')"
                                            placement="bottom" ngbTooltip="Export to Excel"><span><img src="assets/images/ExcelLogoSmall.scale-80.png"></span></a>
                                        <a class="btn btn-default buttons-pdf buttons-html5" (click)="export('pdf','department')"
                                            placement="bottom" ngbTooltip="Export to PDF"><span><img src="assets/images/pdf.jpg"></span></a>
                                        <a class="btn btn-default buttons-print" placement="bottom" ngbTooltip="Print Data"><span><img
                                                    src="assets/images/print.jpg"></span></a>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="col-md-3">
                                        <mat-form-field>
                                            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-3">
                                        <mat-form-field>
                                            <mat-select placeholder="Company" (selectionChange)="reloadCompanyBranchTable(departmentFrom.ST_COM_ID)"
                                                [(ngModel)]="departmentFrom.ST_COM_ID">
                                                <mat-option [value]=""> All </mat-option>
                                                <mat-option *ngFor="let company of companies" [value]="company.ID">
                                                    {{company.NAME}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                   
                                </div>
                                <div class="x">
                                    <div class="table-container">
                                        <table mat-table #table3 [dataSource]="departmentDataSource" matSort>
                                            <ng-container matColumnDef="select">
                                                <th mat-header-cell *matHeaderCellDef>
                                                    <mat-checkbox (change)="$event ? masterToggle3() : null" [checked]="selection3.hasValue() && isAllSelected3()"
                                                        [indeterminate]="selection3.hasValue() && !isAllSelected3()">
                                                    </mat-checkbox>
                                                </th>
                                                <td mat-cell *matCellDef="let row">
                                                    <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection3.toggle(row) : null"
                                                        [checked]="selection3.isSelected(row)">
                                                    </mat-checkbox>
                                                </td>
                                            </ng-container>
                                            <ng-container matColumnDef="ID">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header>ID </th>
                                                <td mat-cell *matCellDef="let element"> {{element.ID}} </td>
                                            </ng-container>
                                            <ng-container matColumnDef="NAME">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                                                <td mat-cell *matCellDef="let element"> {{element.NAME}} </td>
                                            </ng-container>
                                            <ng-container matColumnDef="NAME2">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Name2 </th>
                                                <td mat-cell *matCellDef="let element"> {{element.NAME2}} </td>
                                            </ng-container>
                                            <ng-container matColumnDef="ST_COM_ID">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Company </th>
                                                <td mat-cell *matCellDef="let element">
                                                    {{getCompanyName(element.ST_COM_ID)}}
                                                </td>
                                            </ng-container>
                                            <ng-container matColumnDef="EMAIL">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                                                <td mat-cell *matCellDef="let element">
                                                    {{element.EMAIL}}
                                                </td>
                                            </ng-container>
                                            <ng-container matColumnDef="actions">
                                                <th mat-header-cell *matHeaderCellDef>Actions</th>
                                                <td mat-cell *matCellDef="let element">
                                                    <i (click)="updateDepartment(element)" class="fa fa-edit" placement="left"
                                                        ngbTooltip="Edit"></i>
                                                    <i (click)="$event.stopPropagation()" class="fa fa-remove"
                                                        mwlConfirmationPopover [popoverTitle]="'Confirm'"
                                                        [popoverMessage]="'are you sure to delete?'" placement="left"
                                                        (confirm)="deleteDepartment(element.ID)" ngbTooltip="Delete"></i>
                                                </td>
                                            </ng-container>
                                            <tr mat-header-row *matHeaderRowDef="departmentTableColumns"></tr>
                                            <tr mat-row *matRowDef="let row; columns: departmentTableColumns;" (click)="updateDepartment(row)"
                                                class=" mat-row {{departmentFrom.ID===row.ID?'active':'not-active'}}"></tr>
                                        </table>
                                    </div>

                                    <mat-paginator #paginator3 [pageSizeOptions]="[10, 20, 30 ,40,50]"
                                        showFirstLastButtons></mat-paginator>

                                </div>

                                <div class="hr-line-dashed"></div>



                                <div class="col-md-12 extra-form" *ngIf="extraForm==='department'">
                                    <fieldset class="animated fadeInDown">
                                        <legend>
                                            Department
                                        </legend>
                                        <form #form="ngForm" (ngSubmit)="saveDepartment(form)" class="{{submit3?'submited':''}}">
                                            <div class="row">
                                                <div class="form-group col-md-3">
                                                    <label for="NAME">Name <span class="help-block">*</span></label>
                                                    <input name="NAME" placeholder="Name" type="text" class="form-control"
                                                        [(ngModel)]="departmentFrom.NAME" required>
                                                    <!-- <span class="help-block" *ngIf="form.controls.Name&&form.controls.Name.invalid &&( form.controls.Name.touched|| form.controls.Name.dirty||form.submitted)">required</span> -->
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label for="NAME2">Name 2</label>
                                                    <input name="NAME2" placeholder="Name2" type="text" class="form-control"
                                                        [(ngModel)]="departmentFrom.NAME2">
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label for="ST_COM_ID">Company  </label>
                                                    <select name="ST_COM_ID" placeholder="Company " class="form-control"
                                                        [(ngModel)]="departmentFrom.ST_COM_ID">
                                                        <option ngValue="">Select</option>
                                                        <option *ngFor="let company of companies" [ngValue]="company.ID">{{company.NAME}}</option>

                                                    </select>
                                                    <!-- <span class="help-block" *ngIf="form.controls.ST_CNT_ID&&form.controls.ST_CNT_ID.invalid &&( form.controls.ST_CNT_ID.touched|| form.controls.ST_CNT_ID.dirty||form.submitted)">required</span> -->
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label for="EMAIL">Email <span class="help-block">*</span></label>
                                                    <input name="EMAIL" placeholder="Email" type="email" class="form-control"
                                                        [(ngModel)]="departmentFrom.EMAIL" required>
                                                </div>

                                            </div>

                                            <div class="row">

                                                <div class="form-group col-md-3">
                                                    <label for="ADDRESS">Address</label>
                                                    <input name="ADDRESS" placeholder="Address" type="text" class="form-control"
                                                        [(ngModel)]="departmentFrom.ADDRESS">
                                                </div>
                                                <div class="col-md-8 text-right">
                                                    <br>
                                                    <br>
                                                    <input class="btn btn-default" type="reset" (click)="departmentFrom={};submit3=false;resetForm(form)"
                                                        value="Reset" />

                                                    <input class="btn btn-primary " type="submit" value="Save" (click)="submit3=true" />
                                                </div>
                                            </div>
                                        </form>
                                    </fieldset>
                                </div>
                            </div>
                        </mat-tab>
                    </mat-tab-group>


                </div>


            </div>
        </div>

    </div>
</div>