<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-10">
    <!-- <h2>{{formControls.Name}}</h2> -->
    <h2>Lockups And Currency</h2>
    <ol class="breadcrumb">
      <li>
        <a href="index.html">Home</a>
      </li>
      <li>
        <a>Lockups And Currency</a>
      </li>
      <li class="active">
        <!-- <strong>{{formControls.Name}}</strong> -->
      </li>
    </ol>
  </div>
  <div class="col-sm-2">
    <div class="title-action">
      <!-- <a ui-sref="pages.edit-form({id:formControls.id})" class="btn btn-primary">Edit This form</a> -->
    </div>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

  <div class="row">
    <div class="col-md-12">

      <div class="tabs-container">
        <div class="panel-body">


          <br>

          <mat-tab-group (selectedTabChange)="changeTab($event)">
            <mat-tab label="Major Codes ">
              <div class="col-md-12">
                <fieldset>
                  <legend>
                    Major Code
                  </legend>
                  <form #form="ngForm" (ngSubmit)="saveMajorCode(form)" class="{{submit?'submited':''}}">
                    <div class="row">
                      <div class="form-group col-md-3">
                        <label for="MAJOR_CODE(">Major Code</label>
                        <input name="MAJOR_CODE" placeholder="Major Code" type="text" class="form-control" [(ngModel)]="majorCodeForm.MAJOR_CODE"
                          required>
                      </div>
                      <div class="form-group col-md-3">
                        <label for="NAME">Name <span class="help-block">*</span></label>
                        <input name="NAME" placeholder="Name" type="text" class="form-control" [(ngModel)]="majorCodeForm.NAME"
                          required>
                      </div>
                      <div class="form-group col-md-3">
                        <label for="NAME2">Name 2</label>
                        <input name="NAME2" placeholder="Name 2" type="text" class="form-control" [(ngModel)]="majorCodeForm.NAME2">
                      </div>
                      <div class="form-group col-md-3">
                        <label for="REF_NO">Reference No</label>
                        <input name="REF_NO" placeholder="Reference No" type="text" class="form-control"
                          [(ngModel)]="majorCodeForm.REF_NO">
                      </div>
                    </div>

                    <div class="row">
                      <div class="form-group col-md-3">
                        <label for="ST_LOCKUP_ID">Parent Code<span class="help-block">*</span></label>
                        <select name="ST_LOCKUP_ID"  class="form-control" [(ngModel)]="majorCodeForm.ST_LOCKUP_ID">
                          <option [ngValue]="">Select</option>
                          <option *ngFor="let parentCode of LockUps" [ngValue]="parentCode.ID">{{parentCode.NAME}}</option>
                        </select>
                      </div>



                      <div class="col-md-7 text-right">
                        <br>
                        <br>
                        <div class="btn-group">
                          <input class="btn btn-default" type="reset" (click)="majorCodeForm={};submit=false;form.$setpristine()"
                            value="Rest" />
                          <input class="btn btn-primary" type="submit" value="Save" (click)="submit=true" />
                        </div>
                      </div>
                    </div>
                  </form>
                </fieldset>

                <div class="hr-line-dashed"></div>

                <div class="html5buttons">
                  <br>
                  <div class="dt-buttons btn-group">
                    <button class="btn btn-default" [disabled]="!selection.hasValue()" mwlConfirmationPopover
                      [popoverTitle]="'Confirm'" [popoverMessage]="'are you sure to delete?'" placement="bottom"
                      (confirm)="deleteMajorCode(element.ID)" ngbTooltip="Delete">
                      <img src="assets/images/Trash-can.png"></button>
                    <a class="btn btn-default buttons-csv buttons-html5" (click)="export('csv','majorCode')" placement="bottom"
                      ngbTooltip="Export to CSV"><span>
                        <img src="assets/images/csv.jpg"></span></a>
                    <a class="btn btn-default buttons-excel buttons-html5" (click)="export('excel','majorCode')"
                      placement="bottom" ngbTooltip="Export to Excel"><span><img src="assets/images/ExcelLogoSmall.scale-80.png"></span></a>
                    <a class="btn btn-default buttons-pdf buttons-html5" (click)="export('pdf','majorCode')" placement="bottom"
                      ngbTooltip="Export to PDF"><span><img src="assets/images/pdf.jpg"></span></a>
                    <a class="btn btn-default buttons-print" placement="bottom" ngbTooltip="Print Data"><span><img src="assets/images/print.jpg"></span></a>
                  </div>
                </div>
                <br>
                <mat-form-field>
                  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
                </mat-form-field>
                <div class="x">
                  <table mat-table #table [dataSource]="majorCodesDataSource" matSort>

                    <ng-container matColumnDef="select">
                      <th mat-header-cell *matHeaderCellDef>
                        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()">
                        </mat-checkbox>
                      </th>
                      <td style="width: 5%" mat-cell *matCellDef="let row">
                        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                          [checked]="selection.isSelected(row)">
                        </mat-checkbox>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="ID">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                      <td style="width: 5%" mat-cell *matCellDef="let element"> {{element.ID}}
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="MAJOR_CODE">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Code</th>
                      <td style="width: 10%" mat-cell *matCellDef="let element">
                        {{element.MAJOR_CODE}} </td>
                    </ng-container>

                    <ng-container matColumnDef="NAME">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                      <td style="width: 15%" mat-cell *matCellDef="let element"> {{element.NAME}}
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="NAME2">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name2</th>
                      <td style="width: 15%" mat-cell *matCellDef="let element">
                        {{element.NAME2}} </td>
                    </ng-container>



                    <ng-container matColumnDef="actions">
                      <th mat-header-cell *matHeaderCellDef>Actions</th>
                      <td style="width: 10%" mat-cell *matCellDef="let element">
                        <i (click)="updateMajorCode(element)" class="fa fa-edit" placement="left" ngbTooltip="Edit"></i>
                        <i class="fa fa-remove" mwlConfirmationPopover [popoverTitle]="'Confirm'" [popoverMessage]="'are you sure to delete?'"
                          placement="left" (confirm)="deleteMajorCode(element.ID)" ngbTooltip="Delete"></i>
                      </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="majorCodeTableColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: majorCodeTableColumns;" (click)="updateMajorCode(row)"
                      class=" mat-row {{majorCodeForm.MAJOR_CODE===row.MAJOR_CODE?'active':'not-active'}}"></tr>

                  </table>
                  <mat-paginator #paginator [pageSizeOptions]="[10, 20, 30 ,40,50]" [showFirstLastButtons]="true"></mat-paginator>

                </div>
              </div>

            </mat-tab>
            <mat-tab label="Minor Codes ">
              <div class="col-md-12">

                <div class="col-md-12 extra-form" *ngIf="extraForm==='minorCodes'">

                  <fieldset class="animated fadeInDown">
                    <legend>
                      Minor Code
                    </legend>
                    <form #form="ngForm" (ngSubmit)="saveMinorCode(form)" class="{{submit2?'submited':''}}">
                      <div class="row">

                        <div class="form-group col-md-3">
                          <label for="MAJOR_CODE">Major Code <span class="help-block">*</span></label>
                          <select name="MAJOR_CODE" class="form-control" [(ngModel)]="minorCodeForm.MAJOR_CODE"
                            required>
                            <option [ngValue]="">Select</option>
                            <option *ngFor="let majorCode of majorCodes" [ngValue]="majorCode.ID">{{majorCode.NAME}}</option>
                          </select>
                        </div>

                        <div class="form-group col-md-3">
                          <label for="MINOR_CODE"> Minor Code</label>
                          <input name="MINOR_CODE" placeholder=" Minor Code" type="number" class="form-control"
                            [(ngModel)]="minorCodeForm.MINOR_CODE">
                        </div>

                        <div class="form-group col-md-3">
                          <label for="NAME">Name <span class="help-block">*</span></label>
                          <input name="NAME" placeholder="Name" type="text" class="form-control" [(ngModel)]="minorCodeForm.NAME"
                            required>
                        </div>
                        <div class="form-group col-md-3">
                          <label for="NAME2">Name 2</label>
                          <input name="NAME2" placeholder="Name 2" type="text" class="form-control" [(ngModel)]="minorCodeForm.NAME2">
                        </div>


                      </div>

                      <div class="row">

                        <div class="form-group col-md-3">
                          <label for="REF_NO">Reference No</label>
                          <input name="REF_NO" placeholder="Reference No" type="text" class="form-control"
                            [(ngModel)]="majorCodeForm.REF_NO">
                        </div>

                        <div class="form-group col-md-3">
                          <label for="ST_LOCKUP_ID">Parent Code<span class="help-block">*</span></label>
                          <select name="ST_LOCKUP_ID" class="form-control" [(ngModel)]="minorCodeForm.ST_LOCKUP_ID"
                            required>
                            <option [ngValue]="">Select</option>
                            <option *ngFor="let majorCode of majorCodes" [ngValue]="majorCode.ID">{{majorCode.NAME}}</option>
                          </select>
                        </div>

                        <div class="col-md-6 text-right">
                          <br>
                          <br>
                          <input class="btn btn-default" type="reset" (click)="minorCodeForm={};submit2=false;form.$setpristine()"
                            value="Rest" />
                          <input class="btn btn-primary" type="submit" value="Save" (click)="submit2=true" />
                        </div>
                      </div>
                    </form>
                  </fieldset>
                  <div class="hr-line-dashed"></div>

                </div>


                <div class="html5buttons">
                  <br>
                  <div class="dt-buttons btn-group">
                    <button class="btn btn-default" [disabled]="!selection2.hasValue()" mwlConfirmationPopover
                      [popoverTitle]="'Confirm'" [popoverMessage]="'are you sure to delete?'" placement="bottom"
                      (confirm)="deleteMajorCode(element.ID)" ngbTooltip="Delete">
                      <img src="assets/images/Trash-can.png"></button>
                    <a class="btn btn-default buttons-csv buttons-html5" (click)="export('csv','minorCode')" placement="bottom"
                      ngbTooltip="Export to CSV"><span>
                        <img src="assets/images/csv.jpg"></span></a>
                    <a class="btn btn-default buttons-excel buttons-html5" (click)="export('excel','minorCode')"
                      placement="bottom" ngbTooltip="Export to Excel"><span><img src="assets/images/ExcelLogoSmall.scale-80.png"></span>
                    </a>
                    <a class="btn btn-default buttons-pdf buttons-html5" (click)="export('pdf','minorCode')" placement="bottom"
                      ngbTooltip="Export to PDF"><span><img src="assets/images/pdf.jpg"></span></a>
                    <a class="btn btn-default buttons-print" placement="bottom" ngbTooltip="Print Data"><span><img src="assets/images/print.jpg"></span></a>
                  </div>
                </div>
                <div class="col-md-3">
                  <mat-form-field>
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
                  </mat-form-field>
                </div>
                <div class="col-md-3">
                  <mat-form-field>
                    <mat-select placeholder="MajorCode" (selectionChange)="reloadMinorCodeTable(minorCodeForm.MINOR_CODE)"
                      [(ngModel)]="minorCodeForm.MINOR_CODE">
                      <mat-option [value]=""> All </mat-option>
                      <mat-option *ngFor="let majorCode of majorCodes" [value]="majorCode.ID">
                        {{majorCode.NAME}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="x">
                  <table mat-table #table2 [dataSource]="minorCodesDataSource" matSort>

                    <ng-container matColumnDef="select">
                      <th mat-header-cell *matHeaderCellDef>
                        <mat-checkbox (change)="$event ? masterToggle2() : null" [checked]="selection2.hasValue() && isAllSelected2()"
                          [indeterminate]="selection2.hasValue() && !isAllSelected2()">
                        </mat-checkbox>
                      </th>
                      <td mat-cell *matCellDef="let row">
                        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                          [checked]="selection.isSelected(row)">
                        </mat-checkbox>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="ID">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                      <td mat-cell *matCellDef="let element"> {{element.ID}} </td>
                    </ng-container>
                    <ng-container matColumnDef="MINOR_CODE">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Code</th>
                      <td style="width: 10%" mat-cell *matCellDef="let element">
                        {{element.MINOR_CODE}} </td>
                    </ng-container>
                    <ng-container matColumnDef="NAME">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                      <td mat-cell *matCellDef="let element"> {{element.NAME}} </td>
                    </ng-container>

                    <ng-container matColumnDef="NAME2">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name2</th>
                      <td mat-cell *matCellDef="let element"> {{element.NAME2}} </td>
                    </ng-container>



                    <ng-container matColumnDef="actions">
                      <th mat-header-cell *matHeaderCellDef>Actions</th>
                      <td mat-cell *matCellDef="let element">
                        <i (click)="updateMinorCode(element)" class="fa fa-edit" placement="left" ngbTooltip="Edit"></i>
                        <i class="fa fa-remove" mwlConfirmationPopover [popoverTitle]="'Confirm'" [popoverMessage]="'are you sure to delete?'"
                          placement="left" (confirm)="deleteMinorCode(element.ID)" ngbTooltip="Delete"></i>
                      </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="minorCodeTableColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: minorCodeTableColumns;" (click)="updateMinorCode(row)"
                      class=" mat-row {{minorCodeForm.ID===row.ID?'active':'not-active'}}"></tr>

                  </table>
                  <mat-paginator #paginator2 [pageSizeOptions]="[10, 20, 30 ,40,50]" [showFirstLastButtons]="true"></mat-paginator>
                </div>



              </div>
            </mat-tab>




            <mat-tab label="Currencies">
              <div class="col-md-12">

                <div class="col-md-12 extra-form" *ngIf="extraForm==='currencies'">

                  <fieldset class="animated fadeInDown">
                    <legend>
                      Currency
                    </legend>
                    <form #form="ngForm" (ngSubmit)="saveCurrency(form)" class="{{submit2?'submited':''}}">
                      <div class="row">
                        <div class="form-group col-md-3">
                          <label for="CODE">Code</label>
                          <input name="CODE" placeholder="Code" type="text" class="form-control" [(ngModel)]="currencyForm.CODE">
                        </div>
                        <div class="form-group col-md-3">
                          <label for="NAME">Name <span class="help-block">*</span></label>
                          <input name="NAME" placeholder="Name" type="text" class="form-control" [(ngModel)]="currencyForm.NAME"
                            required>
                        </div>
                        <div class="form-group col-md-3">
                          <label for="NAME2">Name 2</label>
                          <input name="NAME2" placeholder="Name 2" type="text" class="form-control" [(ngModel)]="currencyForm.NAME2">
                        </div>

                        <div class="form-group col-md-3">
                          <label for="DECIMAL_PLACES">Decimal Places <span class="help-block">*</span></label>
                          <input name="DECIMAL_PLACES" placeholder="Decimal Places" type="number" class="form-control"
                            [(ngModel)]="currencyForm.DECIMAL_PLACES" required>
                        </div>

                      </div>

                      <div class="row">

                        <div class="form-group col-md-3">
                          <label for="SIGN">Sign <span class="help-block">*</span></label>
                          <input name="SIGN" placeholder="Sign" type="text" class="form-control" [(ngModel)]="currencyForm.SIGN"
                            required>
                        </div>

                        <div class="form-group col-md-3">
                          <label for="STATUS">Status <span class="help-block">*</span></label>
                          <select name="STATUS" placeholder="Status" class="form-control" [(ngModel)]="currencyForm.STATUS"
                            required>
                            <option [ngValue]="">Select</option>
                            <option *ngFor="let status of LockUps" [ngValue]="status.ID">{{status.NAME}}</option>

                          </select>
                        </div>
                        <div class="form-group col-md-3">
                          <label for="FRACT_NAME">Fraction <span class="help-block">*</span></label>
                          <input name="FRACT_NAME" placeholder="Fraction" type="text" class="form-control" [(ngModel)]="currencyForm.FRACT_NAME"
                            required>
                        </div>
                        <div class="form-group col-md-3">
                          <label for="FRACT_NAME2">Fraction 2<span class="help-block">*</span></label>
                          <input name="FRACT_NAME2" placeholder="Fraction 2" type="text" class="form-control" [(ngModel)]="currencyForm.FRACT_NAME2"
                            required>
                        </div>
                        <div class="col-md-12 text-right">
                          <br>
                          <br>
                          <input class="btn btn-default" type="reset" (click)="currencyForm={};submit2=false;form.$setpristine()"
                            value="Rest" />
                          <input class="btn btn-primary" type="submit" value="Save" (click)="submit2=true" />
                        </div>
                      </div>
                    </form>
                  </fieldset>
                  <div class="hr-line-dashed"></div>

                </div>




                <div class="html5buttons">
                  <br>
                  <div class="dt-buttons btn-group">
                    <button class="btn btn-default" [disabled]="!selection2.hasValue()" mwlConfirmationPopover
                      [popoverTitle]="'Confirm'" [popoverMessage]="'are you sure to delete?'" placement="bottom"
                      (confirm)="deleteMajorCode(element.CODE)" ngbTooltip="Delete">
                      <img src="assets/images/Trash-can.png"></button>
                    <a class="btn btn-default buttons-csv buttons-html5" (click)="export('csv','currency')" placement="bottom"
                      ngbTooltip="Export to CSV"><span>
                        <img src="assets/images/csv.jpg"></span></a>
                    <a class="btn btn-default buttons-excel buttons-html5" (click)="export('excel','currency')"
                      placement="bottom" ngbTooltip="Export to Excel"><span><img src="assets/images/ExcelLogoSmall.scale-80.png"></span>
                    </a>
                    <a class="btn btn-default buttons-pdf buttons-html5" (click)="export('pdf','currency')" placement="bottom"
                      ngbTooltip="Export to PDF"><span><img src="assets/images/pdf.jpg"></span></a>
                    <a class="btn btn-default buttons-print" placement="bottom" ngbTooltip="Print Data"><span><img src="assets/images/print.jpg"></span></a>
                  </div>
                </div>
                <div class="col-md-3">
                  <mat-form-field>
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
                  </mat-form-field>
                </div>

                <div class="x">
                  <table mat-table #table2 [dataSource]="currencyDataSource" matSort>

                    <ng-container matColumnDef="select">
                      <th mat-header-cell *matHeaderCellDef>
                        <mat-checkbox (change)="$event ? masterToggle2() : null" [checked]="selection2.hasValue() && isAllSelected2()"
                          [indeterminate]="selection2.hasValue() && !isAllSelected2()">
                        </mat-checkbox>
                      </th>
                      <td mat-cell *matCellDef="let row">
                        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                          [checked]="selection.isSelected(row)">
                        </mat-checkbox>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="CODE">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>CODE</th>
                      <td mat-cell *matCellDef="let element"> {{element.CODE}} </td>
                    </ng-container>

                    <ng-container matColumnDef="NAME">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                      <td mat-cell *matCellDef="let element"> {{element.NAME}} </td>
                    </ng-container>

                    <ng-container matColumnDef="NAME2">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name2</th>
                      <td mat-cell *matCellDef="let element"> {{element.NAME2}} </td>
                    </ng-container>



                    <ng-container matColumnDef="actions">
                      <th mat-header-cell *matHeaderCellDef>Actions</th>
                      <td mat-cell *matCellDef="let element">
                        <i (click)="updateCurrency(element)" class="fa fa-edit" placement="left" ngbTooltip="Edit"></i>
                        <i class="fa fa-remove" mwlConfirmationPopover [popoverTitle]="'Confirm'" [popoverMessage]="'are you sure to delete?'"
                          placement="left" (confirm)="deleteCurrency(element.CODE)" ngbTooltip="Delete"></i>
                      </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="currencyTableColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: currencyTableColumns;" (click)="updateCurrency(row)"
                      class=" mat-row {{currencyForm.CODE===row.CODE?'active':'not-active'}}"></tr>

                  </table>
                  <mat-paginator #paginator2 [pageSizeOptions]="[10, 20, 30 ,40,50]" [showFirstLastButtons]="true"></mat-paginator>
                </div>



              </div>
            </mat-tab>


          </mat-tab-group>


        </div>


      </div>
    </div>

  </div>
</div>